<div class="admin-container">
  <h2>CB LOR Stocking Drive Manager</h2>
  <form>
    <select [(ngModel)]="status" name="orderStatus" (change)="onStatusChange()">
      <option *ngFor="let s of orderStatuses" [value]="s.val">{{s.label}}</option>
    </select>
  </form>

  <!-- <div class="img-cont" *ngIf="!showDataTable">
    <img alt="nothing to see here" src="../../../assets/not_found.png">
    <h3>Nothing to see here...</h3>
  </div> -->

  <div>
    <table class="mat-elevation-z8">
      <thead>
        <th class="mat-column-orderAction">Order Action</th>
        <th>Name</th>
        <th class="mat-column-email">Email</th>
        <th class="mat-column-phone">Phone</th>
        <th class="mat-column-pickup">Pickup</th>
        <th class="mat-column-stockings">Stockings</th>
        <th>Message</th>
      </thead>
      <tbody>
        <tr *ngFor="let order of tableData">
          <td>
            <button mat-flat-button color="primary" (click)="updateOrderStatus(order, orderStatuses[updateAction].val, status)">{{orderStatuses[updateAction].label}}</button>
          </td>
          <td>{{order.firstName + ' ' + order.lastName}}</td>
          <td>{{order.email}}</td>
          <td>{{order.phone}}</td>
          <td>{{order.pickup}}</td>
          <td>{{order.stockingCount}}</td>
          <td>{{order.message}}</td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>