
<div class="container">
    <h2>Sign up to participate in the Lowcountry Orphan Relief Stocking Drive in 2022, coordinated in Cane Bay by Jeannette Meeks.</h2>

    <p>With your help, the LOR stocking drive sponsored 2,508 children in need last year. Thank you to the Cane Bay and surrounding community for sponsoring 230 stockings!</p>

    <mat-accordion>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                How to participate - Steps for Cane Bay
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ol>
                <li>Sign up <strong>before December 9th</strong> by submitting the form below and entering the number of stockings you would like to sponsor.</li>
                <li>We will get the number of stockings you request distributed to you - the options are emailed or pickup.
                    <ul>
                        <li>If selecting email delivery, the stocking will be emailed to the email address you provide within a day or two.</li>
                        <li>If picking up, you can pickup <strong>before December 9th</strong> from our residence at 210 Witch Hazel Street in Lindera.</li>
                    </ul>
                </li>
                <li><strong>Read the FAQs below</strong> - all participants, not just the one signing up.</li>
                <li><strong>Go shopping</strong> for the items on your list. <strong>Do not worry about purchasing exact sizes.</strong> LOR will get the correct sizes into the right hands.</li>
                <li>Return the <strong>unwrapped</strong> items on our porch (210 Witch Hazel Street in Lindera) <strong>before December 12th</strong> so that we can deliver to LOR.</li>
                <li>After dropping the items on the porch, send a text to the number we have posted on our door and include your name (or the name that was 
                    entered on the signup form) to let us know the stockings have been returned.</li>
                <li>You are also welcomed to deliver to LOR yourself <strong>by December 19th.</strong></li>
            </ol>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Stocking drive FAQs - Make your gift-giving easy!
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>You do not have to purchase everything on your list. Buy whatever you feel comfortable with!</li>
                <li>Please <strong>do not wrap</strong> the presents.</li>
                <li>Don't get stressed out about the sizes. If you end up buying a size bigger/smaller or if it gets confusing,
                    then don't worry about it. We will get the sizes into the right hands!</li>
                <li><strong>Please - NO toys, puzzles, or games.</strong> If you would like to add a "little extra" to your gift, you can bring: stuffed animals, books,
                    school supplies, backpacks, pajamas, socks, water bottles, small soft blankets, accessories, toiletries, diapers/pull ups, wipes & journals.</li>
                <li>Lowcountry Orphan Relief does NOT have children on site. LOR packs Care Kits for children who are referred to us from schools,
                    local agencies/organizations, churches, and group homes. We pack 2 full weeks of clothing and necessities into each Care Kit,
                    so the children have what they need during their transition. Your gifts will be part of the larger Care Kit given to children
                    throughout the year!</li>
                <li>We coordinate this drive every year for the Cane Bay neighborhoods as a way to serve our community and help those that are a part of the community to 
                    easily contribute. However, if you would like to participate directly with Low Country Orphan Relief
                    you are welcomed to reach out to them directly on their website <a target="_blank" href="https://lowcountryorphanrelief.org">lowcountryorphanrelief.org</a>.
                </li>
                <li>For all other questions or concerns, please email Jeannette at 
                    <a href="mailto:jean.m.meeks@gmail.com?subject=LOR Stocking Drive">jean.m.meeks@gmail.com</a>. Thank You!</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="so-container">
        <form class="so-form" [formGroup]="stockingOrderForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="so-input" appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="John" formControlName="firstName" maxlength="25" required>
                <mat-error *ngIf="stockingOrderForm.get('firstName').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="so-input" appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput type="text" placeholder="Doe" formControlName="lastName" maxlength="25" required>
                <mat-error *ngIf="stockingOrderForm.get('lastName').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="so-input" appearance="fill">
                <mat-label>Contact email</mat-label>
                <input matInput type="text" placeholder="jdoe@example.com" formControlName="email" maxlength="50" required>
                <mat-error *ngIf="stockingOrderForm.get('lastName').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="so-input" appearance="fill">
                <mat-label>Contact phone number</mat-label>
                <input matInput type="tel" placeholder="(843) 555-5555" formControlName="phone" (keyup)="formatPhone($event)" maxlength="14" required>
                <mat-error *ngIf="stockingOrderForm.get('phone').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="so-input" appearance="fill">
                <mat-label>How many stockings?</mat-label>
                <mat-select formControlName="stockingCount" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let stockingOpt of stockingOptions" [value]="stockingOpt">
                    {{stockingOpt}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="stockingOrderForm.get('stockingCount').hasError('required')">Please choose an option</mat-error>
            </mat-form-field>
        
            <mat-form-field class="so-input" appearance="fill">
                <mat-label>How would you like to receive the stockings?</mat-label>
                <mat-select formControlName="pickup" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let ro of receiptOptions" [value]="ro.val">
                    {{ro.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="stockingOrderForm.get('pickup').hasError('required')">Please choose an option</mat-error>

            </mat-form-field>
        
            <mat-form-field class="so-input" appearance="fill">
                <mat-label>Enter a message</mat-label>
                <input matInput type="text" placeholder="Hello!" formControlName="message">
                <mat-error *ngIf="stockingOrderForm.get('message').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        
            <button mat-flat-button type="submit" color="primary" [disabled]="stockingOrderForm.untouched || stockingOrderForm.invalid">Signup</button>
        </form>

        <div *ngIf="submittingForm" class="wait">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>
